.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 150px;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: #000;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}